a {text-decoration: none;}
a:link, a:visited {color:indigo;}
a:hover {color:teal;}
a:active {color:deepskyblue;}
body {
    background-color: lavender;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18pt;
    padding: 20px;
    color: midnightblue;
}
.post-main {
    background-color: aliceblue;
    border: 1px solid black;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.post-header {
    background-color: hotpink;
    border-bottom: 1px solid black;
    padding: 5px;
}
.post-image {
    background-color: aliceblue;
    width:max-content;
    margin: auto;
}
.post-footer {
    background-color: whitesmoke;
    border-top: 1px solid black;
}
.post-likebar {
    background-color: cornsilk;
    padding: 5px;
    border-bottom: 1px solid gainsboro;
}
.comment {
    margin: 5px;
    border: 1px solid gainsboro;
    background-color: lavenderblush;
    padding: 2px;
}
.userpage-main {
    background-color: aliceblue;
    width: 85%;
    margin: auto;
}
.userpage-header {
    background-color: cornsilk;
}
.userpage-username {
    color: midnightblue;
}
.userpage-gallery {
    background-color: lavenderblush;
    display: grid;
    grid-template-columns: 50% 50%;
}
.gallery-image {
    width: 30%;
    display: inline-block;
    padding: 15px;
    margin-left: 5px;
    margin-right: 5px;
}