{% extends "base.html" %}
{% block content %}
    <div id="userpage-header">
        <div id="usernamebar">
            <h2>
                <b>{{% username %}}</b>
                | 
                {% if logname_follows_username %}
                following
                {% elif logname != username %}
                not following
                {% endif %}
            </h2>
        </div>
        <div id="infobar">
            {{ total_posts }}
            {% if total_posts != 1 %}s{% endif %}
            <a href="/users/{{ username }}/followers/">{{ followers }} follower</a>
            {% if followers != 1 %}s{% endif %}
            <a href="/users.{{ username }}/following/">{{ following }} following</a>
        </div>
        <div id="namebar">{{ fullname }}</div>
    </div>
    <div id="userpage-gallery">
        {% for post in posts %}
        <a href="/posts/{{ post.post_id }}/">
            <img class="gallery-img" src="{{ post.img_url }}" alt="Post {{ post.postid }}">
        </a>
        {% endfor %}
    </div>
{% endblock %}